<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="Appliman.Trainingify"
    Name="Trainingify"
    Manufacturer="Appliman"
    Version="$(ProductVersion)"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="Une version plus récente de Trainingify est déjà installée." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="Trainingify" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Trainingify" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Trainingify" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder">
      <Shortcut
        Id="TrainingifyStartMenuShortcut"
        Name="Trainingify"
        Target="[INSTALLFOLDER]Trainingify.exe"
        WorkingDirectory="INSTALLFOLDER"
        Description="Lancer Trainingify" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue
        Root="HKLM"
        Key="Software\Appliman\Trainingify"
        Name="Installed"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Files Include="$(PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
